* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  align-items: center;
  justify-content: center;
  background-color: #DFD3C3;
  margin-top: 10px;
}

h1 {
  color: white;
  text-align: center;
  margin: 20px 0;
}

.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.logo-container {
  width: 100%;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  max-width: 400px;
  border-radius: 20px;
}

.main-list {
  width: 600px;
  min-height: 500px;
  background-color: #85586F;
  padding: 25px;
  margin: 10px;
  border-radius: 10px;
}
